<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'Logged in as %s'|format(app.user.username) }} |
        <a href="{{ path('fos_user_security_logout') }}">
            Logout
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Login</a>
    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
<div>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("user_login") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
               autocomplete="username"/>

        <label for="password">Password</label>
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password"/>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
        <label for="remember_me">Remember me</label>

        <input type="submit" id="_submit" name="_submit" value="Log in"/>
    </form>
</div>
</body>
</html>